<app-header></app-header>
<div class="container min-h-screen" id="home">
    <div class="flex justify-center w-full">
        <div class="w-1/2 md:w-1/2">
            <div class="pt-48 pb-64 w-full text-center header-content">
                <h3 class="mb-5 text-3xl font-semibold leading-tight text-gray-900 md:text-5xl">Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit.</h3>
                <p class="px-5 mb-10 text-xl text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illum incidunt libero repellendus est vitae! Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Illum repellat sed, dolorum recusandae, ad blanditiis ex aliquam quasi, consequuntur eveniet
                    tenetur aperiam velit sapiente!</p>
            </div>
        </div>
    </div>

    <section id="request" class="container flex justify-center bg-gray-800 w-full h-96 border-y-4 border-gray-900">
        <div class="w-1/2 h-full p-5">
            <h3 class="text-3xl font-semibold text-white">¿Que quieres hacer?</h3>
            <div class="mt-5 text-xl">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam atque cumque nihil itaque harum quisquam, consequuntur iure.
                </p>
                <p class="mt-5">
                    magnam veniam neque eaque dolor quidem? Ipsam nulla neque, blanditiis fuga doloremque et.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos animi maxime doloribus eveniet suscipit! Et eum laborum repudiandae sapiente quod dignissimos, perspiciatis soluta officiis, aperiam deleniti alias, error fugiat dolorum!
                </p>
            </div>
        </div>
    </section>
    <section id="request" class="container w-full h-80">

    </section>
</div>
<app-footer></app-footer>